* {
  font-family: sans-serif;
}
.navbar {
  background-color: #cccccc;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar > h1 {
  padding-left: 10px;
}
.navbar > button {
  padding-right: 20px;
  margin-right: 10px;
  border: solid 3px black;
  background-color: #2b78e4;
  color: white;
  box-shadow: 3px 3px black;
  width: 80px;
  height: 30px;
}
.navbar > input {
  height: 40px;
  width: 300px;
  border: solid 2px black;
}
.box-1 {
  border: solid 2px black;
  width: 400px;
  margin: 20px;
}
.box-1 > h2 {
  margin-left: 10px;
}
.flex-1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.box-1 > button {
  text-align: center;
  background-color: #ffd966;
  box-shadow: 3px 3px black;
  width: 80px;
  margin: 10px;
}
.box-2 {
  border: solid 2px black;
  width: 400px;
  margin: 20px;
}
.box-2 > h2 {
  margin-left: 10px;
}
.flex-2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.box-2 > button {
  text-align: center;
  background-color: #ffd966;
  box-shadow: 3px 3px black;
  width: 80px;
  margin: 10px;
}
.box-3 {
  border: solid 2px black;
  width: 200px;
  margin: 20px;
  position: relative;
  bottom: 425px;
  left: 450px;
}
.box-3 > h2 {
  margin-left: 10px;
}

.box-3 > button {
  text-align: center;
  background-color: #93c47d;
  box-shadow: 3px 3px black;
  width: 110px;
  margin: 10px;
}
